@import '../../../scss/configs/breakpoints.scss';

.orderSummary {
  padding: 50px;
  & .content-add-tramite {
    padding: 0;
    margin-bottom: 30px;
  }
  & .containerProcedure-info {
    & .categories {
      & h3.title-indicaciones {
        color: var(--primary-color--dark);
        font-weight: 600;
        font-size: var(--font-size-base);
        margin-bottom: 3px;
      }
      & .line-morado {
        width: 55%;
        height: 2px;
        border-radius: 10px;
        background-color: var(--primary-color--dark);
        margin-bottom: 8px;
      }
      & h2.title-indicaciones {
        color: var(--primary-color--dark);
        font-weight: 600;
        font-size: var(--font-size-md);
      }
      & .diplayflex {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        & .content-circule {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 65px;
          width: 65px;
          background-image: linear-gradient(180deg, #feb933 0%, #fd9428 76%);
          border-radius: 50%;
          & .circule-number {
            font-size: 30px;
            color: #fff;
            font-weight: 800;
          }
        }
        & .titleIngresarInfo {
          font-size: var(--font-size-md);
          color: #878787;
          font-weight: 700;
          margin: 0;
        }
      }
    }
  }
  & .containerDescription {
    padding-left: 85px;
    margin-top: 20px;
    &-description {
      font-size: var(--font-size-base);
      color: #878787;
      font-weight: 400;
    }
  }
  & .containerTables {
    display: flex;
    justify-content: center;
    gap: 30px;
    border-bottom: 2px solid #b6b6b6;
    padding: 0 25px;
    margin-top: 25px;
    & .table-or,
    & .table-or2 {
      width: 50%;
      position: relative;
      & .containerHeader {
        padding: 0 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 12px;
        align-items: center;
        & h6 {
          font-size: var(--font-size-md);
          color: #878787;
          font-weight: 700;
          margin: 0;
        }
        &-payment {
          display: flex;
          flex-direction: row;
          gap: 10px;
          align-items: center;
          & .pay {
            font-size: var(--font-size-sm);
            font-weight: 600;
            color: #125aff;
          }
          & .number {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: linear-gradient(180deg, #0f5afa 26%, #0a42b8 78%);
            color: #fff;
            font-size: var(--font-size-md);
            font-weight: 700;
            border-radius: 50%;
          }
        }
      }
      & .main-card-table-order {
        padding: 0 30px;
        margin-bottom: 55px;
        & .ant-table {
          border: 2px solid #b6b6b6;
          border-radius: 5px;
          background-color: transparent;
          & .ant-table-thead {
            & .ant-table-cell {
              background: none;
              border-bottom: 2px solid #b6b6b6;
              background-color: transparent;
              color: #878787;
              font-size: var(--font-size-base);
              &:first-of-type {
                border-right: 2px solid #b6b6b6;
              }
            }
          }
          & .ant-table-tbody {
            & .ant-table-row {
              & .ant-table-cell {
                color: #878787;
                font-size: var(--font-size-sm);
                border-bottom: 2px solid #b6b6b6;
                &:has(.bold) {
                  text-align: end;
                }
                &:first-of-type {
                  border-right: 2px solid #b6b6b6;
                  font-size: var(--font-size-sm);
                  & .bold {
                    font-size: var(--font-size-sm);
                    font-weight: 600;
                  }
                }
              }
              &:hover {
                & .ant-table-cell {
                  background: none;
                }
              }
              &:last-of-type {
                & .ant-table-cell {
                  border-bottom: none;
                }
              }
            }
          }
        }
      }
      & .containerButton {
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translate(-50%, 0);
        & .ant-btn {
          padding: 18px 20px;
          border-radius: 25px;
          box-shadow: 0px 3px 6px #00000029;
          font-size: var(--font-size-base);
          font-weight: 700;
          transition: all 0.3s ease;
          &:hover {
            background-image: none;
            background-color: var(--primary-color--light);
          }
        }
        & .btnContinuar {
          background-image: linear-gradient(180deg, #feb933 0%, #fd9428 76%);
          color: var(--primary-color--light);
          width: 280px;
          &:hover {
            color: #fff;
          }
        }
      }
    }
    & .separator {
      width: 2px;
      background-color: #b6b6b6;
      border-radius: 2px;
    }
  }
  & .containerNote {
    margin-top: 50px;
    padding: 0 55px;
    & p {
      color: #878787;
      font-size: var(--font-size-sm);
      text-align: justify;
    }
  }
  & .containerButtons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;

    & .ant-btn {
      padding: 18px 20px;
      border-radius: 25px;
      box-shadow: 0px 3px 6px #00000029;
      font-size: var(--font-size-base);
      font-weight: 700;
      transition: all 0.3s ease;
      &:hover {
        background-image: none;
        background-color: var(--primary-color--light);
      }
    }

    & .btnSave {
      background-image: linear-gradient(180deg, #feb933 0%, #fd9428 76%);
      color: #fff;
      width: 280px;
    }

    & .btnContinuar {
      background-image: linear-gradient(180deg, #1ba5fb 0%, #105efb 100%);
      color: white;
      width: 280px;
      &:hover {
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: $device-lg) {
  .orderSummary {
    & .containerTables {
      flex-direction: column;
      align-items: center;
      border-bottom: none ;
      & .table-or, & .table-or2{
        border-bottom: 2px solid #b6b6b6 ;
        z-index: 0;
        width: 80%;
      }
    }
  }
}
@media screen and (max-width: $device-md) {
  .orderSummary {
    & .containerTables {
      padding: 0;
      & .table-or, & .table-or2{
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: $device-sm) {
  .orderSummary {
    padding: 25px;
    & .containerTables {
      padding: 0;
      & .table-or, & .table-or2{
        width: 100%;
        & .main-card-table-order {
          padding: 0;
        }
      }
    }
    & .containerProcedure-info {
      & .categories {
        & .diplayflex {
          & .content-circule {
            height: 55px;
            width: 55px;
            min-height: 55px;
            min-width: 55px;
          }
        }
      }
    }  
    & .containerDescription {
      padding-left: 0;
    }
    & .containerNote {
      padding: 0;
    }
  }
}