@font-face {
  font-family: 'Menticula';
  src: url(./font/MeticulaExtraLight.otf);
  font-weight: 100;
}

@font-face {
  font-family: 'Menticula';
  src: url(./font/MeticulaLight.otf);
  font-weight: 200;
}

@font-face {
  font-family: 'Menticula';
  src: url(./font/MeticulaThin.otf);
  font-weight: 300;
}

@font-face {
  font-family: 'Menticula';
  src: url(./font/MeticulaRegular.otf);
  font-weight: 400;
}

@font-face {
  font-family: 'Menticula';
  src: url(./font/MeticulaMedium.otf);
  font-weight: 500;
}

@font-face {
  font-family: 'Menticula';
  src: url(./font/MeticulaSemiBold.otf);
  font-weight: 600;
}

@font-face {
  font-family: 'Menticula';
  src: url(./font/MeticulaBold.otf);
  font-weight: 700;
}

@font-face {
  font-family: 'Menticula';
  src: url(./font/MeticulaExtraBold.otf);
  font-weight: 900;
}
