.chat {
    min-height: 400px;
    display: grid;
    grid-template-rows: 5fr 1fr;
    background-color: white;
    .message {
        height: 400px;
        min-width: 350px;
        display: flex;
        overflow-y: auto;
        ul {
            width: 100%;
            padding: 20px 10px;
            .burbuje {
                display: flex;
                padding: 5px 0px;
                div {
                    padding: 5px 10px;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    font-size: 0.9rem;
                    span {
                        font-size: 0.6rem;
                        font-style: italic;
                        color: #ccc;
                    }
                }
            }
            .other {
                div {
                    background-color: #e3f2fd;
                    
                }
            }
            .me {
                display: flex;
                justify-content: flex-end;
                div {
                    background-color: #fff3e0;
                    text-align: end;
                    span {
                        text-align: end;
                    }
                }
            }
        }
    }
    
    .message-form {
        border-top: 1px solid #ccc;
        form {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            align-items: center;
        
            .ant-form-item {
                width: 80%;
            }
            button {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: $primary;
                color: white;
            }
        }

        // button {
        //     display: flex;
        //     width: 50px;
        //     height: 50px;
        //     background-color: transparent;
        //     border-radius: 50px;
        //     margin: 5px;
        //     justify-content: center;
        //     align-items: center;
        // }
        // button:hover {
        //     background-color: #ebebeb;
        // }
    }
}