@import '../../../scss/configs/mixin-components.scss';

.restart {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  &-content {
    background-color: #fff;
    box-shadow: 4px 4px 6px #00000029;
    border-radius: 14px;
    padding: 20px 60px 60px;
    width: 50%;
    max-width: 750px;
    position: relative;
    & .login-sub-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px 10px;
      
      & .login-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10px;
        & h3 {
          color: #9f4af6;
          font-size: 25px;
          font-weight: 600;
          margin: 0;
        }
        & .icon,
        & .icon path {
          @include icon(var(--primary-color--light), 80px);
        }
      }

      & .login-panel {
        width: 100%;
        & .ant-form {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 12px;
          & .subtitle {
            display: flex;
            gap: 10px;
            color: #878787;
            font-size: 15px;
            justify-content: center;
          }
          & .form-control {
            position: relative;
            color: #878787;
            & .ant-form-item {
              margin: 0;
              padding-block: 10px;
              & .ant-col,
              .ant-form-item-required {
                font-size: 15px;
                border-radius: 25px;
                width: 100%;
                color: #878787;
                & .ant-input {
                  font-family: 'Menticula';
                  color: #878787;
                }
              }
            }
          }
        }

        & .containerButton {
          display: flex;
          justify-content: center;
          position: absolute;
          bottom: -18px;
          left: 0;
          width: 100%;
          & .ant-btn {
            background-image: linear-gradient(180deg, #fcd931 0%, #fc9827 100%);
            box-shadow: 0px 3px 6px #00000029;
            color: #8556ee;
            font-size: 18px;
            font-weight: 700;
            padding: 20px 45px;
            border-radius: 32px;
            &:hover {
              color: #fff;
              background-color: #8556ee;
              background-image: none;
            }
          }
        }
      }
    }
  }
}
