.loader-page {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    img {
        height: 200px;
    }
}

.loader {
    position: absolute;
    opacity: 0.9;
    z-index: 1000;
    background-color: white;
}