// COLOR
$primary: #723BED;
$secundary: #F4B207;
$dark: #611CED;
$third:#9a9a9b;

// MEDIA
$device-sm: 540px;
$device-md: 790px;
$device-lg: 960px;
$device-xl: 1140px;
$device-xxl: 1750px;

$page-max-width: 1350px;
