@import '../../../../../scss/configs/mixin-components.scss';

.tabEight {
  padding: 15px 65px;
  & h3.title-indicaciones {
    color: var(--primary-color--dark);
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 3px;
  }
  & .line-morado {
    width: 55%;
    height: 2px;
    border-radius: 10px;
    background-color: var(--primary-color--dark);
    margin-bottom: 8px;
  }
  & h2.title-indicaciones {
    color: var(--primary-color--dark);
    font-weight: bold;
    font-size: 26px;
  }
  & .diplayflex {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    & .content-circule {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 65px;
      width: 65px;
      background-image: linear-gradient(180deg, #feb933 0%, #fd9428 76%);
      border-radius: 50%;
      & .circule-number {
        font-size: 30px;
        color: #fff;
        font-weight: 800;
      }
    }
    & .titleIngresarInfo {
      font-size: 22px;
      color: #878787;
      font-weight: 700;
      margin: 0;
    }
  }
  & .ant-form {
    display: flex;
    justify-content: center;
    align-items: center;
    & .ant-btn {
      padding: 18px 20px;
      border-radius: 25px;
      box-shadow: 0px 3px 6px #00000029;
      font-size: 15px;
      font-weight: 600;
      transition: all 0.3s ease;
      &:hover {
        background-image: none;
        background-color: var(--primary-color--light);
      }
    }
    & .icon,
    & .icon path {
      @include icon(#fff, 12px);
    }

    & .btnSave {
      color: #fff;
      // margin-top: 20px;
      float: right;
      font-size: 16px;
      font-weight: 700;
      background-image: linear-gradient(180deg, #b864f5 0%, #7e36f3 50%);
    }
  }
}
